*{
    font-family: 'Roboto', sans-serif;
    background-color: #D2F5EC;
}
h1{
    font-family: 'Roboto',sans-serif;
}
h2{
    font-family: 'Monsteratt', sans-serif;
}
/*Navbar CSS*/
.navlist{
    margin-left: auto;
    font-size: 15px;
    margin-right: 140px;
}
.navbarbrand{
    margin-left: 140px;
    font-size: 30px;
    font-weight: bold;
}
.navlink{
    color: white;
    background-color: #1491AA;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
/*Landing Page CSS*/
.navitem{
    padding-right: 20px;
}
.heading{
    padding-top: 70px;
}
.headingtext{
    font-size: 60px;
}
.features{
    padding-top: 50px;
}
.feature2{
    padding-top: 50px;
}
.featuretext{
    padding-top: 100px;
}
.lottie{
    position: relative;
    bottom: 90px;
    left: 30px;
}
/*Main Program CSS*/
.main{
    padding-top: 20px;
}
/*===================================================CSS for Login/Signup page==================================================================*/
.login-register-wrapper{
    padding: 30px 10px;
    border-radius: 10px;
    border: 2px solid#000;
    background-color: rgb(0, 255, 149) !important;
    position: relative;
    top:20px;
}
form.login-form div.form-group label,form.sign-up-form div.form-group label{
    padding:15px 0px;
}
form.login-form input[type = "submit"],form.sign-up-form input[type = "submit"]{
    margin-top: 5px;
}
input#login{
    margin-top: 10px;    
}
form.login-form div.form-group,form.sign-up-form div.form-group{
    padding: 10px 0px;
}
.logo{
    padding: 0px 40%;
}
/*==============================================================================================================================================*/