/*Initialing vairables*/
:root{
    --nav-width: 92px;
    --first-color: #0C5DF4;
    --bg-color: #1491AA;
    --sub-color: #B6CEFC;
    --white-color: #FFF;
  
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  
    --z-fixed: 0;
}
/*Common CSS selectors*/
*, ::before, ::after{
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #D2F5EC;
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}
h1{
  margin: 0;
  font-family: 'Roboto',sans-serif;
}
h2{
    font-family: 'Monsteratt', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
/*index.html Navbar CSS*/
.navlist{
    margin-left: auto;
    font-size: 15px;
    margin-right: 140px;
}
.navbarbrand{
    margin-left: 140px;
    font-size: 30px;
    font-weight: 500
}
.navlink{
    color: white;
    background-color: #1491AA;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
/*index.html Page CSS*/
.navitem{
    padding-right: 20px;
}
.heading{
    padding-top: 70px;
}
.headingtext{
    font-size: 60px;
}
.features{
    padding-top: 50px;
}
.feature2{
    padding-top: 50px;
}
.featuretext{
    padding-top: 100px;
}
.lottie{
    position: relative;
    bottom: 90px;
    left: 30px;
}
/*main.hrml Program CSS*/
.main{
    padding-top: 20px;
}
/*login.html Login Modal CSS*/
.login-register-wrapper{
    padding: 30px 10px;
    border-radius: 20px;
    border: 2px solid#000;
    box-shadow: 5px 5px 10px grey;
    background-color: rgb(0, 255, 149) !important;
    position: relative;
    top:20px;
}
form.login-form div.form-group label,form.sign-up-form div.form-group label{
    padding:15px 0px;
}
form.login-form input[type = "submit"],form.sign-up-form input[type = "submit"]{
    margin-top: 5px;
}
input#login{
    margin-top: 10px;    
}
form.login-form div.form-group,form.sign-up-form div.form-group{
    padding: 10px 0px;
}
.logo{
    padding: 0px 40%;
}
/*Hide things from Landing Page(inde.html) should remove before submission*/
.main{
    display: none;
}
/*CSS for the logout modal(should decide whether to delete this part because we r not using it in the mian design right?)*/
/*main.html Side Navigation CSS Should credit utuber at end*/
.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}
.nav1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav__brand{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.nav__toggle{
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}
.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}
.addproj{
    position: relative;
    top: 5px;
    padding-left: 20px;
    font-size: 1.25rem;
}
.addtask{
    position: relative;
    top: 5px;
    left: 15px;
    padding-left: 20px;
    font-size: 1.25rem;
}
.nav__link:hover{
    background-color: var(--first-color);
    color: white;
}
.nav__icon{
    font-size: 1.25rem;
}
.nav__name{
    font-size:var(--small-font-size);
}
.expander{
    width: calc(var(--nav-width) + 9.25rem);
}
.body-pd{
    padding: 2rem 0 0 15rem;
    overflow-x: hidden;
}
.active{
    background-color: var(--first-color);
}
/*main.html Top banner to display name*/
.topbanner{
    margin-top: 0;
    background-color: #1491AA;
    padding-top: 10px;
    position: relative;
    bottom: 95px;
    border-radius: 6px;
}
.topbannertext{
    padding-left: 20px;
    padding-top: 55px;
    color: white;
}
.topbannername{
    position: relative;
    top: 10px;
}

/*================================================INBOX TAB==================================================*/
section#inbox h3{
    padding:10px;
    border-bottom:1px solid #534a4af6;
    width:20%;
    display: none;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.three-dots{
    justify-self: end;
}
.project-item{
    border-top: 2px solid rgb(87, 88, 88);
    padding: 10px;
}
div.accordion-body.projectaccordion span{
    position: relative;
}
div.accordion-body.projectaccordion span ion-icon{
    display: inline-block;
    padding:10px;
    font-size:20pt;
}
div.accordion-body.projectaccordion span:before{
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 110px;
    height:25px;
    text-align: center;
    position: absolute;
    top:-65px;
    left:-20px;
    opacity:0;
    z-index: 5;
    transition: all 0.5s ease;
}
div.accordion-body.projectaccordion span button::before{
    border-style: none;
    border-color: transparent;
    padding: 0;
    background: transparent;
    transition: center 2.0s ease-in;
    
}
div.accordion-body.projectaccordion span button:active{
    color: #fff;
    background: rgb(207, 189, 189);

}

div.accordion-body.projectaccordion span button::after{
    transition: center 0.5s ease-out;
}
div.accordion-body.projectaccordion span::after{ /*triangle for tooltip*/
    content: "";
    position: absolute;
    top:-40px;
    right:15px;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid black;
    border-bottom:15px solid transparent;
    opacity:0;
    transition: all 0.5s ease;
}

div.accordion-body.projectaccordion span:hover:before,div.accordion-body.projectaccordion span:hover:after{
    opacity: 1;
    transition: all 0.5s ease;
}
.dropdown-menu ion-icon{
    color:red;
    padding: 5px;
    font-size:20pt;
}
.dropdown-menu {
    text-align: justify;
    line-height: 20px;
}
ion-icon{
    font-size: 30px;
}
.task-box{
    border-bottom: 1px solid red;
    padding:20px 0px;
}
.task-box> div{
    padding:0px 0px 20px 20px;
}
.task-box span>span{
    padding:10px;
    text-align: justify;
    padding-left:20px!important;
}
.dropdown-toggle::after {   /*hide the content*/
    content: none; 
} 